@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&display=swap');

/*-----Fonts------*/
.logo-font {
    font-family: 'Corben', cursive;
    font-weight: 700;
}

body {
    font-family: 'Corben', cursive;
    font-weight: 400;
}


/*-----Colours------*/
.text-wine {
    color: #923A49;
}

.bg-wine {
    background-color: #923A49;
}