@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&display=swap');


/*-----For Sticky Footer------*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

footer{
    color:white;
    text-align: center;
}

footer .social-link{
    color: white;
    font-size: medium;
}

footer .copyright{
    font-size: 5px;
}

/*-----Fonts------*/
.logo-font {
    font-family: 'Corben', cursive;
    font-weight: 700;
    text-align: center;
    font-size: x-large;
}

body {
    font-family: 'EB Garamond', serif;
}

.corben-font {
    font-family: 'Corben', serif;
    font-weight: 400;
}

/*-----Colours------*/
.text-wine {
    color: #923A49;
}

.bg-wine {
    background-color: #923A49 !important;
}

.amber-text {
    color: #ffc107 ;
}
.grey-text {
    color: #9e9e9e;
}
.dark-grey-text{
    color:#212121;
}
.white-text {
    color: white;
}

/*-----Headers on all pages page ------*/
.row .page-header {
    margin-top: 1.5rem;
    padding-bottom: .5rem;
}


.page-header {
    font-family: 'Corben', serif;
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    color: #616161;
    background-color: #ffc107;
    border: none;
    border-radius:16px;
    display: inline-block;
    margin: 0 auto;
    border-radius: 16px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

@media only screen and (max-width: 730px) {
    .page-header {
        height: 5.5rem;
        line-height: 2.5rem;
    }
}

/*-- Cards on Wines Page --*/

    

    /* Modal */
    .modal-wine-info p{
        color: #ff8f00;
    }
    .modal-wine-info p span{
        color: white;
    }

/*-- Flash Alert --  Source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_alert */
  .alert{
      padding: 10px;
      background-color: #ffca28;
      text-align: center;
      font-family: 'EB Garamond', serif;
      color: white;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

/*-- Text area on Add review page: Reduce width on small screens --*/
@media only screen and (max-width: 650px){
    #review{
        max-width: 65%;
        margin: 0 auto;
    }
}