@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&display=swap');


/*-----From Materialize for Stick Footer------*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

/*-----Fonts------*/
.logo-font {
    font-family: 'Corben', cursive;
    font-weight: 700;
}

body,
.corben-font {
    font-family: 'Corben', cursive;
    font-weight: 400;
}

/*-----Colours------*/
.text-wine {
    color: #923A49;
}

.bg-wine {
    background-color: #923A49;
}

/*-----Headers on Sign-in/Register page ------*/
.row .page-header {
    margin-top: 1.5rem;
    padding-bottom: .5rem;
}

.page-header {
    text-transform: capitalize;
    color: black;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 4rem;
    line-height: 3rem;
    vertical-align: middle;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

@media only screen and (max-width: 730px) {
    .page-header {
        height: 5.5rem;
        line-height: 2.5rem;
    }
    }

/*-- Cards on Wines Page --*/
.card img {
    background-color: #923A49;
    padding-top: 2rem;
}

.wine-info{
    padding-top: 3rem;
}

.wine-info p{
    padding-bottom: 2rem;
}

.card-content .card-header{
    height: 2rem;
    width: 3rem;
}

/* for card container on tablets and larger */
@media only screen and (min-width: 601px){
    .container {
        width: 90% !important;
    }
}

@media only screen and (min-width: 1024px){
    .container {
        width: 75% !important;
    }
}