{% extends "base.html" %}

{% block content %}

<div class="row ">
    <h3 class="page-header col-8 offset-2 p-2 shadow">Submit a new wine</h3>
</div>

<!--Add New Wine Section-->
<div class="row">
    <div class="card col-sm-12 col-md-8 offset-md-2 my-4 shadow">
        <form class="g-3 needs-validation" novalidate method="POST" action="{{ url_for('add_wine')}}">
            <div class="row mt-2 p-2 mx-2">
                <!--Wine type selection-->
                <div class="col">
                    <label for="wine_type" class="visually-hidden">Wine Type</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text" id="wine_type-input"><i class="fas fa-bars"></i></span>
                        <select id="wine_type" name="wine_type" class="form-select text-center" aria-label="wineType"
                            aria-describedby="wine_type-input" required>
                            <option value="" disabled selected>Select Wine Type</option>
                            {% for type in types %}
                            <option value="{{ type.wine_type }}">{{ type.wine_type.capitalize() }}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">
                            Please choose a wine type
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2 p-2 mx-2">
                <!--Wine Name input field-->
                <div class="col">
                    <label for="wine_name" class="visually-hidden">Wine Name</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text" id="wine_name-input"><i class="fas fa-award"></i></span>
                        <input id="wine_name" name="wine_name" type="text" class="form-control text-center"
                            placeholder="Wine Name" aria-label="wineName" aria-describedby="wine_name-input" required>
                        <div class="invalid-feedback">
                            Please enter the wine name
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-1 p-2 mx-2">
                <!--Grape input field-->
                <div class="col-sm-12 col-md-6 px-2">
                    <label for="grape" class="visually-hidden">Grape</label>
                    <div class="input-group has-validation mb-2">
                        <span class="input-group-text" id="grape-input"><i class="fas fa-wine-glass"></i></span>
                        <input id="grape" name="grape" type="text" class="form-control text-center" minlength="4"
                            maxlength="30" placeholder="Grape" aria-label="Grape" aria-describedby="grape-input"
                            required>
                        <div class="invalid-feedback">
                            Please enter a grape variety
                        </div>
                    </div>
                </div>
                <!--Vintage input field-->
                <div class="col-sm-12 col-md-6 px-2">
                    <label for="grape" class="visually-hidden">Grape</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text" id="vintage-input"><i class="fas fa-wine-bottle"></i></span>
                        <input id="vintage" name="vintage" type="text" class="form-control text-center" minlength="4"
                            maxlength="4" required pattern="^[0-9]{4,4}$" placeholder="Vintage" aria-label="vintage"
                            aria-describedby="vintage-input">
                        <div class="invalid-feedback">
                            Please enter a vintage for this wine
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-1 p-2 mx-2">
                <!--Country input field-->
                <div class="col-sm-12 col-md-6 px-2">
                    <label for="country" class="visually-hidden">Country</label>
                    <div class="input-group has-validation mb-2">
                        <span class="input-group-text" id="country-input"><i class="fas fa-flag"></i></span>
                        <input id="country" name="country" type="text" class="form-control text-center" minlength="2"
                            maxlength="30" required placeholder="Country" aria-label="country"
                            aria-describedby="country-input">
                        <div class="invalid-feedback">
                            Please enter the country where this wine is produced
                        </div>
                    </div>
                </div>
                <!--Region input field-->
                <div class="col-sm-12 col-md-6 px-2">
                    <label for="region" class="visually-hidden">Region</label>
                    <div class="input-group">
                        <span class="input-group-text" id="region-input"><i class="fas fa-map-marker"></i></span>
                        <input id="region" name="region" type="text" class="form-control text-center" minlength="2"
                            maxlength="30" placeholder="Region" aria-label="region" aria-describedby="region-input">

                    </div>
                </div>
            </div>
            <div class="row mt-2 p-2 mx-2">
                <!--Image URL input field-->
                <div class="col text-center">
                    <label for="wine_img">Optional: Add an image of this wine (image URL only)</label>
                    <div class="input-group">
                        <span class="input-group-text" id="wine_img-input"><i class="fas fa-image"></i></span>
                        <input id="wine_img" name="wine_img" type="text" class="form-control text-center"
                            aria-label="wineImg" aria-describedby="wine_img-input">
                    </div>
                </div>
            </div>
            <!--Review Input-->
            <div class="row mb-2 p-2 mx-2">
                <div class="col">
                    <label for="review" class="visually-hidden">Review</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text"><i class="fas fa-pen prefix black-text"></i></span>
                        <textarea id="review" name="review" class="form-control" minlength="5" maxlength="500" rows="4"
                            placeholder="Your Review" required></textarea>
                        <div class="invalid-feedback">
                            Please enter a review of this wine
                        </div>
                    </div>
                    <label for="review" class="visually-hidden">Your Review</label>
                </div>
            </div>
            <!--Rating Input-->
            <div class="col text-center form-check">
                <h5>Rate this wine</h5>
                <p>
                    <label>
                        <input name="rating" type="radio" id="1" value="1" class="form-check-input" required />
                        <span>
                            <i class="fas fa-star amber-text"></i>
                            <i class="fas fa-star grey-text"></i>
                            <i class="fas fa-star grey-text"></i>
                            <i class="fas fa-star grey-text"></i>
                            <i class="fas fa-star grey-text"></i>
                        </span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="rating" type="radio" id="2" value="2" class="form-check-input" />
                        <span>
                            <i class="fas fa-star amber-text"></i>
                            <i class="fas fa-star amber-text"></i>
                            <i class="fas fa-star grey-text"></i>
                            <i class="fas fa-star grey-text"></i>
                            <i class="fas fa-star grey-text"></i>
                        </span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="rating" type="radio" id="3" value="3" class="form-check-input" />
                        <span>
                            <i class="fas fa-star amber-text"></i>
                            <i class="fas fa-star amber-text"></i>
                            <i class="fas fa-star amber-text"></i>
                            <i class="fas fa-star grey-text"></i>
                            <i class="fas fa-star grey-text"></i>
                        </span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="rating" type="radio" id="4" value="4" class="form-check-input" />
                        <span>
                            <i class="fas fa-star amber-text"></i>
                            <i class="fas fa-star amber-text"></i>
                            <i class="fas fa-star amber-text"></i>
                            <i class="fas fa-star amber-text"></i>
                            <i class="fas fa-star grey-text"></i>
                        </span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="rating" type="radio" id="5" value="5" class="form-check-input" />
                        <span>
                            <i class="fas fa-star amber-text"></i>
                            <i class="fas fa-star amber-text"></i>
                            <i class="fas fa-star amber-text"></i>
                            <i class="fas fa-star amber-text"></i>
                            <i class="fas fa-star amber-text"></i>
                        </span>
                    </label>
                </p>
                <div class="invalid-feedback">
                    Please add a rating
                </div>
            </div>
            <!--Submit/Cancel button-->
            <div class="row mb-2 text-center justify-content-center">
                <a class="btn col-4 m-3 form-cancel rounded text-center corben-font"
                    href="{{ url_for('view_wines')}}">Cancel &nbsp;<i class="fas fa-times-circle"></i></a>
                <button type="submit" class="btn col-4 m-3 form-submit rounded text-center corben-font">
                    Submit Wine &nbsp;<i class="fas fa-plus-circle"></i></button>
            </div>
        </form>
    </div>
</div>


{% endblock %}