{% extends "base.html" %}

{% block content %}

<div class="row ">
    <h3 class="page-header col-8 offset-2 p-2 shadow">Submit a review for {{ wine.wine_name.title() }}</h3>
</div>

<div class="row">
    <div class="card col-sm-12 col-md-8 offset-md-2 my-4 shadow">
        <form class="g-3 needs-validation" novalidate method="POST"
            action="{{ url_for('add_review', wine_id=wine._id)}}">
            <!--Add Review Section-->
            <div class="row mb-2 p-2 mx-2">
                <!--Wine Name input field-->
                <div class="col-sm-12 col-md-6 px-2">
                    <label for="wine_name" class="visually-hidden">Wine Name</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text" id="wine_name-input"><i class="fas fa-award"></i></span>
                        <input id="wine_name" name="wine_name" type="text" class="form-control text-center"
                            value="{{ wine.wine_name.title() }}" readonly required aria-label="wineName"
                            aria-describedby="wine_name-input">
                        <div class="invalid-feedback">
                            Please enter the wine name
                        </div>
                    </div>
                </div>
                <!--Vintage input field-->
                <div class="col-sm-12 col-md-6 px-2">
                    <label for="vintage" class="visually-hidden">Vintage</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text" id="vintage-input"><i class="fas fa-wine-bottle"></i></span>
                        <input id="vintage" name="vintage" type="text" class="form-control text-center" minlength="4"
                            maxlength="4" required pattern="^[0-9]{4,4}$" value="{{ wine.vintage }}" readonly
                            aria-label="vintage" aria-describedby="vintage-input">
                        <div class="invalid-feedback">
                            Please enter a vintage for this wine
                        </div>
                    </div>
                </div>
            </div>
            <!--Review Input-->
            <div class="row mb-2 p-2 mx-2">
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-pen prefix black-text"></i></span>
                        <textarea id="review" name="review" class="form-control" minlength="5" maxlength="200" rows="4"
                            required></textarea>
                    </div>
                    <label for="review" class="visually-hidden">Your Review</label>
                </div>
            </div>
            <!--Rating Input-->
            <div class="col text-center form-check">
                <h5>Rate this wine</h5>
                <p>
                    <label>
                        <input name="rating" type="radio" id="1" value="1" class="form-check-input" required/>
                        <span>
                            <i class="fas fa-star amber-text"></i>
                            <i class="fas fa-star grey-text"></i>
                            <i class="fas fa-star grey-text"></i>
                            <i class="fas fa-star grey-text"></i>
                            <i class="fas fa-star grey-text"></i>
                        </span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="rating" type="radio" id="2" value="2" class="form-check-input" />
                        <span>
                            <i class="fas fa-star amber-text"></i>
                            <i class="fas fa-star amber-text"></i>
                            <i class="fas fa-star grey-text"></i>
                            <i class="fas fa-star grey-text"></i>
                            <i class="fas fa-star grey-text"></i>
                        </span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="rating" type="radio" id="3" value="3" class="form-check-input" />
                        <span>
                            <i class="fas fa-star amber-text"></i>
                            <i class="fas fa-star amber-text"></i>
                            <i class="fas fa-star amber-text"></i>
                            <i class="fas fa-star grey-text"></i>
                            <i class="fas fa-star grey-text"></i>
                        </span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="rating" type="radio" id="4" value="4" class="form-check-input" />
                        <span>
                            <i class="fas fa-star amber-text"></i>
                            <i class="fas fa-star amber-text"></i>
                            <i class="fas fa-star amber-text"></i>
                            <i class="fas fa-star amber-text"></i>
                            <i class="fas fa-star grey-text"></i>
                        </span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="rating" type="radio" id="5" value="5" class="form-check-input" />
                        <span>
                            <i class="fas fa-star amber-text"></i>
                            <i class="fas fa-star amber-text"></i>
                            <i class="fas fa-star amber-text"></i>
                            <i class="fas fa-star amber-text"></i>
                            <i class="fas fa-star amber-text"></i>
                        </span>
                    </label>
                </p>
            </div>
            <!--Submit/Cancel button-->
            <div class="row mb-2 text-center justify-content-center">
                <a class="btn col-4 m-3 form-cancel rounded text-center corben-font" 
                    href="{{ url_for('view_wines')}}">Cancel &nbsp;<i class="fas fa-times-circle"></i></a>
                <button type="submit" class="btn col-4 m-3 form-submit rounded text-center corben-font">
                    Submit Your Review &nbsp;<i class="fas fa-plus-circle"></i></button>
            </div>
        </form>
    </div>
</div>


{% endblock %}