{% extends "base.html" %}

{% block content %}

<div class="row ">
    <h3 class="page-header col-s-12 col-md-8 offset-md-2 p-2">Submit a new wine</h3>
</div>

<div class="row">
    <form class="col s12 m8 offset-m2 card-panel" method="POST" action="{{ url_for('add_wine')}}">
            <!---------- Add New Wine section -------->
            <!--Wine type selection-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-bars prefix black-tex"></i>
                    <select id="wine_type" name="wine_type" class="validate" required>
                      <option value="" disabled selected>Select Wine Type</option>
                      {% for type in types %}
                        <option value="{{ type.wine_type }}">{{ type.wine_type.capitalize() }}</option>
                      {% endfor %}
                    </select>
                    <label for="wine_type">Wine Type</label>
                  </div>
            </div>
            
            <!--Wine Name input field-->
                <div class="input-field col s12">
                    <i class="fas fa-award prefix black-text"></i>
                    <input id="wine_name"type="text" name="wine_name" class="validate" required>
                    <label for="wine_name">Wine Name</label>
                </div>
            <!--Grape input field-->
                <div class="input-field col s12 m6">
                    <i class="fas fa-wine-glass prefix black-text"></i>
                    <input id="grape"type="text" name="grape" class="validate" required>
                    <label for="grape">Grape</label>
                </div>
            <!--Vintage input field-->
                <div class="input-field col s12 m6">
                    <i class="fas fa-wine-bottle prefix black-text"></i>
                    <input id="vintage"type="text" name="vintage" class="validate"
                    minlength="4" maxlength="4" required pattern="^[0-9]{4,4}$" required>
                    <label for="vintage">Vintage</label>
                </div>
            <!--Country input field-->
                <div class="input-field col s12 m6">
                    <i class="fas fa-flag prefix black-text"></i>
                    <input id="country"type="text" name="country" class="validate" required>
                    <label for="country">Country</label>
                </div>
            <!--Region input field-->
                <div class="input-field col s12 m6">
                    <i class="fas fa-map-marker-alt prefix black-text"></i>
                    <input id="region"type="text" name="region" class="region">
                    <label for="region">Region (optional)</label>
                </div>
            <!---------- Add Review  section -------->
            <!--Review text area input-->
        <div class="row">
            <div class="input-field col s12 center-align">
                <i class="fas fa-pen prefix black-text"></i>
                <textarea id="review" name="review" class="materialize-textarea validate"
                minlength="5" maxlength="200"required></textarea>
                <label for="review">Your Review</label>
            </div>
        </div>
    <!--Rating Input-->
        <div class="col s12 center-align">
            <p><i class="fa fa-star prefix black-text"></i> Rate this wine</p>
            <p>
                <label>
                <input name="rating" type="radio" id="1" value="1"/>
                <span>
                    <i class="fas fa-star amber-text"></i>
                    <i class="fas fa-star grey-text"></i>
                    <i class="fas fa-star grey-text"></i>
                    <i class="fas fa-star grey-text"></i>
                    <i class="fas fa-star grey-text"></i>
                </span>
                </label>
            </p>
            <p>
                <label>
                <input name="rating" type="radio" id="2" value="2" />
                <span>
                    <i class="fas fa-star amber-text"></i>
                    <i class="fas fa-star amber-text"></i>
                    <i class="fas fa-star grey-text"></i>
                    <i class="fas fa-star grey-text"></i>
                    <i class="fas fa-star grey-text"></i>
                </span>
                </label>
            </p>
            <p>
                <label>
                <input name="rating" type="radio" id="3" value="3" />
                <span>
                    <i class="fas fa-star amber-text"></i>
                    <i class="fas fa-star amber-text"></i>
                    <i class="fas fa-star amber-text"></i>
                    <i class="fas fa-star grey-text"></i>
                    <i class="fas fa-star grey-text"></i>
                </span>
                </label>
            </p>
            <p>
                <label>
                <input name="rating" type="radio" id="4" value="4"/>
                <span>
                    <i class="fas fa-star amber-text"></i>
                    <i class="fas fa-star amber-text"></i>
                    <i class="fas fa-star amber-text"></i>
                    <i class="fas fa-star amber-text"></i>
                    <i class="fas fa-star grey-text"></i>
                </span>
                </label>
            </p>
            <p>
                <label>
                <input name="rating" type="radio" id="5" value="5"/>
                <span>
                    <i class="fas fa-star amber-text"></i>
                    <i class="fas fa-star amber-text"></i>
                    <i class="fas fa-star amber-text"></i>
                    <i class="fas fa-star amber-text"></i>
                    <i class="fas fa-star amber-text"></i>
                </span>
                </label>
            </p>
        </div>
            
            <!--Submit Button -->
            <div class="row">
                <button type="submit" class="col s12 btn-large black white-text center-align corben-font">
                    Submit Wine <i class="fas fa-plus-circle"></i>
                </button>
            </div>
    </form>
</div>

{% endblock %}