<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css">
    <title>CellarClub</title>
    <style>
        body {
            background-image: url("{{ url_for('static', filename='images/wine-wallpaper.png') }}");
        }
    </style>

</head>

<body>

    <header>
        <!-- Top navbar-->
        <nav>
            <div class="nav-wrapper nav-extended black white-text">
                <a href="#" class="brand-logo logo-font center">CellarClub</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <ul class="left-align hide-on-med-and-down">
                    <li><a href="{{ url_for('wines')}}">Wines</a></li>
                    <li><a href="{{ url_for('add_wine')}}">Add Wine</a></li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('profile')}}">Profile</a></li>
                    <li><a href="{{ url_for('sign_in')}}">Sign in</a></li>
                    <li><a href="{{ url_for('register')}}">Sign Up</a></li>
                </ul>
            </div>
        </nav>

        <!-- Mobile Sidenav-->
        <ul class="sidenav black white-text" id="mobile-demo">
            <li>
                <h4 class="center-align logo-font">CellarClub</h4>
            </li>
            <li><a class="white-text" href="#">Home</a></li>
            <li><a class="white-text" href="{{ url_for('wines')}}">Wines</a></li>
            <li><a class="white-text" href="{{ url_for('add_wine')}}">Add Wine</a></li>
            <li><a class="white-text" href="{{ url_for('profile')}}">Profile</a></li>
            <li><a class="white-text" href="{{ url_for('sign_in')}}">Sign in</a></li>
            <li><a class="white-text" href="{{ url_for('register')}}">Sign Up</a></li>
        </ul>
    </header>

    <section>
        <!--to display flash messages-->

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes">
            <h4 class="light-blue lighten-4 center-align">
                {{ message }}
            </h4>
        </div>
        {% endfor %}
        {% endif%}
        {% endwith %}

    </section>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer bg-wine">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text logo-font">CellarClub</h5>
                    <p class="white-text">2 Main Street Rathmines, cellarclub@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                &copy; 2021 AM Murphy
                <a href="www.instagram.com"><i class="fab fa-instagram white-text right"></i></a>
                <a href="www.facebook.com"><i class="fab fa-facebook white-text right"></i></a>
                <a href="www.twitter.com"><i class="fab fa-twitter white-text right"></i></a>
                <a href="www.pinterest.com"><i class="fab fa-pinterest white-text right"></i></a>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>

</body>

</html>