{% extends "base.html" %}

{% block content %}
<div class="row">
    <h4 class="page-header col s12 m8 offset-m2 center-align amber accent-4">{{ first-name.title() }}'s Profile Page</h4>
</div>

<!-- Personal Info-->
<div>

</div>

<div class="row">
    <!-- Wines submitted by user-->
    <div class="col s12 m6">
        <ul class="collection with-header">
            <li class="collection-header bg-wine amber-text"><h4>Wines added by {{ first-name.title() }}</h4></li>
            {% for wine in wines %}
                {% if session.user|lower == wine.submitted_by|lower %}
                    <li class="row collection-item bg-wine white-text">
                        <i class="col 3 fas fa-wine-bottle"></i>
                        <span class="col 3">{{ wine.wine_name.title() }}</span>
                        <span class="col 3">{{ wine.vintage }}</span>
                        <span class="col 3">{{ wine.country.capitalize() }}</span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>         
    </div>

    <!-- Starred Wines-->
    <div class="col s12 m6">
        <ul class="collection with-header bg-wine">
            <li class="collection-header white-text"><h4>Wines added by {{ first_name.title() }}</h4></li>
            {% for wine in wines %}
                {% if session.user|lower == wine.submitted_by|lower %}
                    <li class="collection-item white-text">
                        <span>{{ wine.wine_name.title() }}</span>
                        <span>{{ wine.vintage }}</span>
                        <span>{{ wine.country.capitalize() }}</span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>         
    </div>
</div>

{% endblock %}