{% extends "base.html" %}

{% block content %}

<div class="row ">
    <h3 class="page-header col-s-12 col-md-8 offset-md-2 p-2">Sign up to join our club!</h3>
</div>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register')}}">
        <div class="card-panel center-align">
            <!--Username input field-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user prefix black-text"></i>
                    <input id="username" name="username" type="text" class="validate" minlength="5" maxlength="20"
                        required pattern="^[a-zA-Z0-9]{5,20}$">
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <!--Password input field-->
                <div class="input-field col s12 m6">
                    <i class="fas fa-user-lock prefix black-text"></i>
                    <input id="password" type="password" name="password" class="validate" minlength="5" maxlength="20"
                        required pattern="^[a-zA-Z0-9]{5,20}$">
                    <label for="password">Password</label>
                </div>
                <!--Repeat password input field-->
                <div class="input-field col s12 m6">
                    <i class="fas fa-user-check prefix black-text"></i>
                    <input id="password-check" type="password" name="password-check" class="validate" minlength="5"
                        maxlength="20" required pattern="^[a-zA-Z0-9]{5,20}$">
                    <label for="password-check">Re-enter your password</label>
                </div>
            </div>
            <div class="row">
            <!--First Name input field-->
                <div class="input-field col s12 m6">
                    <i class="fas fa-user-lock prefix black-text"></i>
                    <input id="first_name" type="text" name="first_name" class="validate" minlength="2" maxlength="20"
                        required>
                    <label for="first_name">First Name</label>
                </div>
            <!--Last Name input field-->
                <div class="input-field col s12 m6">
                    <i class="fas fa-user-lock prefix black-text"></i>
                    <input id="last_name" type="text" name="last_name" class="validate" minlength="2" maxlength="20"
                        required>
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
            <!--Date of Birth input field-->
                <div class="input-field col s12 m6">
                    <i class="fas fa-user-lock prefix black-text"></i>
                    <input id="dob" type="text" class="datepicker" name="dob" class="validate"
                        required>
                    <label for="dob">Date of Birth</label>
                </div>
            <!--Country input field-->
                <div class="input-field col s12 m6">
                    <i class="fas fa-user-lock prefix black-text"></i>
                    <input id="country" type="text" name="country" class="validate" minlength="2" maxlength="20"
                        required>
                    <label for="country">Country</label>
                </div>
            </div>
            <!--Submit Button-->
            <div class="row">
                <button type="submit" class="col s12 btn-large black white-text center-align corben-font">
                    Register <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}