{% extends "base.html" %}

{% block content %}

<div class="row ">
    <h3 class="page-header rounded shadow col-8 offset-2 p-2">Wines</h3>
</div>

<div class="container">
    <div class="row mt-4 justify-content-center align-items-center">

        {% for wine in wines %}

        <!--Card to display wine info -->
        <div class="col-md-4 mb-3 align-items-center fullclick">

            <div class="card shadow wine-card text-center mx-auto p-0" style="max-width: 300px;">
                <div class="row g-0">
                    <div class="col-4 card-image">
                        {% if wine.wine_type == "red" %}
                        <img class="mx-auto" src="{{ url_for('static', filename='images/red.png') }}"
                            alt="image of bottle of red wine">
                        {% elif wine.wine_type == "white" %}
                        <img src="{{ url_for('static', filename='images/white.png') }}"
                            alt="image of bottle of white wine">
                        {% elif wine.wine_type == "rose" %}
                        <img src="{{ url_for('static', filename='images/rose.png') }}"
                            alt="image of bottle of rose wine">
                        {% elif wine.wine_type == "sparkling" %}
                        <img src="{{ url_for('static', filename='images/champagne.png') }}"
                            alt="image of bottle of sparkling wine">
                        {% endif %}
                    </div>
                    <div class="card-body col-8 p-md-1 p-lg-2">
                        <div class="p-md-1 p-lg-3">
                            <div class="card-title mt-2 mb-md-2 mb-lg-4">
                                <h4 class="dark-amber-text">{{ wine.wine_name.title() }}</h4>
                            </div>
                            <div class="card-text wine-info mb-4">
                                <p><i class="fas fa-wine-glass"></i>&nbsp {{ wine.grape.capitalize() }}</p>
                                <p><i class="fas fa-flag"></i>&nbsp {{ wine.country.capitalize() }}</p>
                                <p><i class="fas fa-wine-bottle"></i>&nbsp {{ wine.vintage }}</p>
                            </div>
                            <div class="card-text mx-auto">
                                {% for rating in average_rating %}
                                {% if rating["_id"] == wine._id %}
                                {% if rating["AverageValue"] == 1.0 %}
                                <i class="fas fa-star dark-amber-text"></i>
                                <i class="fas fa-star grey-text"></i>
                                <i class="fas fa-star grey-text"></i>
                                <i class="fas fa-star grey-text"></i>
                                <i class="fas fa-star grey-text"></i>
                                {% elif rating["AverageValue"] == 2.0 %}
                                <i class="fas fa-star dark-amber-text"></i>
                                <i class="fas fa-star dark-amber-text"></i>
                                <i class="fas fa-star grey-text"></i>
                                <i class="fas fa-star grey-text"></i>
                                <i class="fas fa-star grey-text"></i>
                                {% elif rating["AverageValue"] == 3.0 %}
                                <i class="fas fa-star dark-amber-text"></i>
                                <i class="fas fa-star dark-amber-text"></i>
                                <i class="fas fa-star dark-amber-text"></i>
                                <i class="fas fa-star grey-text"></i>
                                <i class="fas fa-star grey-text"></i>
                                {% elif rating["AverageValue"] == 4.0 %}
                                <i class="fas fa-star dark-amber-text"></i>
                                <i class="fas fa-star dark-amber-text"></i>
                                <i class="fas fa-star dark-amber-text"></i>
                                <i class="fas fa-star dark-amber-text"></i>
                                <i class="fas fa-star grey-text"></i>
                                {% elif rating["AverageValue"] == 5.0 %}
                                <i class="fas fa-star dark-amber-text"></i>
                                <i class="fas fa-star dark-amber-text"></i>
                                <i class="fas fa-star dark-amber-text"></i>
                                <i class="fas fa-star dark-amber-text"></i>
                                <i class="fas fa-star dark-amber-text"></i>
                                {% endif %}
                                {% endif %}
                                {% endfor%}
                            </div>
                            <button type="button" class="btn btn-sm bg-wine white-text stretched-link"
                                data-bs-toggle="modal" data-bs-target="#wine-id{{ wine._id }}">
                                View
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Modal to display wine info and reviews-->
            <div class="modal fade" id="wine-id{{ wine._id }}" tabindex="-1" aria-labelledby="wineModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <form class="modal-content" method="POST" action="{{ url_for('view_wines', wines=wines)}}">
                        <div class="modal-header">
                            <h5 class="modal-title" id="wineModalLabel">
                                <span>
                                    <input type="text" id="wine_name" name="wine_name" class="hidden-input" readonly
                                        required value="{{ wine.wine_name.title() }}">
                                </span>
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <p>Grape :<span>
                                        <input type="text" id="grape" name="grape" class="hidden-input" readonly
                                            required value="{{ wine.grape.capitalize() }}">
                                    </span></p>
                                <p>Vintage :<span>
                                        <input type="text" id="vintage" name="vintage" class="hidden-input" readonly
                                            required value="{{ wine.vintage.capitalize() }}">
                                    </span></p>
                                <p>Country :<span>
                                        <input type="text" id="country" name="country" class="hidden-input" readonly
                                            required value="{{ wine.country.capitalize() }}">
                                    </span></p>
                                {% if wine.region %}
                                <p>Region : &nbsp<span>{{ wine.region.capitalize() }}</span></p>
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col">
                                    {% for user_review in wine.user_reviews %}
                                    <p class="amber-text">{{ user_review.review }}</p>
                                    <p class="amber-text">{{ user_review.reviewed_by }}</p>

                                    {% if user_review.rating == 1 %}
                                    <i class="fas fa-star dark-amber-text"></i>
                                    <i class="fas fa-star grey-text"></i>
                                    <i class="fas fa-star grey-text"></i>
                                    <i class="fas fa-star grey-text"></i>
                                    <i class="fas fa-star grey-text"></i>
                                    {% elif user_review.rating == 2 %}
                                    <i class="fas fa-star dark-amber-text"></i>
                                    <i class="fas fa-star dark-amber-text"></i>
                                    <i class="fas fa-star grey-text"></i>
                                    <i class="fas fa-star grey-text"></i>
                                    <i class="fas fa-star grey-text"></i>
                                    {% elif user_review.rating == 3 %}
                                    <i class="fas fa-star dark-amber-text"></i>
                                    <i class="fas fa-star dark-amber-text"></i>
                                    <i class="fas fa-star dark-amber-text"></i>
                                    <i class="fas fa-star grey-text"></i>
                                    <i class="fas fa-star grey-text"></i>
                                    {% elif user_review.rating == 4 %}
                                    <i class="fas fa-star dark-amber-text"></i>
                                    <i class="fas fa-star dark-amber-text"></i>
                                    <i class="fas fa-star dark-amber-text"></i>
                                    <i class="fas fa-star dark-amber-text"></i>
                                    <i class="fas fa-star grey-text"></i>
                                    {% elif user_review.rating == 5 %}
                                    <i class="fas fa-star dark-amber-text"></i>
                                    <i class="fas fa-star dark-amber-text"></i>
                                    <i class="fas fa-star dark-amber-text"></i>
                                    <i class="fas fa-star dark-amber-text"></i>
                                    <i class="fas fa-star dark-amber-text"></i>
                                    {% endif %}

                                    {% if session.user == user_review.reviewed_by  %}
                                    <div class="col">
                                        <button type="button" class="btn amber-bg white-text"><a
                                            href="{{ url_for('edit_review', wine_id=wine._id) }}">Edit</a></button>
                                        <button type="button" class="btn amber-bg white-text"><a
                                            href="{{ url_for('delete_review', wine_id=wine._id) }}">Delete</a></button>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            {% if session.user %}
                            <button type="submit" class="btn amber-bg white-text">Add to Favourites</a></button>
                            <button type="button" class="btn amber-bg white-text"><a
                                    href="{{ url_for('add_review', wine_id=wine._id) }}">Add Review</a></button>
                            {% endif %}
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        {% endfor %}

    </div>
</div>


{% endblock %}