{% extends "base.html" %}

{% block content %}

<!-- Page Header -->
<div class="row text-center">
    <h3 class="page-header rounded shadow col-8 offset-2 p-2 shadow">Wines</h3>
</div>

<div class="container">
    <div class="row mt-4 justify-content-center">

        {% for wine in wines %}

        <!--Card to display wine info -->
        <div class="col-md-4 mb-3 align-items-center fullclick">

            <div class="card shadow wine-card text-center mx-auto p-0" style="max-width: 300px;">
                <div class="row g-0">
                    <!-- Wine Bottle image -->
                    <div class="col-4 card-image">
                        {% if wine.wine_type == "red" %}
                        <img class="mx-auto" src="{{ url_for('static', filename='images/red.png') }}"
                            alt="image of bottle of red wine">
                        {% elif wine.wine_type == "white" %}
                        <img class="mx-auto" src="{{ url_for('static', filename='images/white.png') }}"
                            alt="image of bottle of white wine">
                        {% elif wine.wine_type == "rose" %}
                        <img class="mx-auto" src="{{ url_for('static', filename='images/rose.png') }}"
                            alt="image of bottle of rose wine">
                        {% elif wine.wine_type == "sparkling" %}
                        <img class="mx-auto" src="{{ url_for('static', filename='images/champagne.png') }}"
                            alt="image of bottle of sparkling wine">
                        {% endif %}
                    </div>
                    <!-- Wine info section -->
                    <div class="card-body col-8 p-md-1 p-lg-2">
                        <div class="p-md-1 p-lg-3">
                            <div class="card-title mt-2 mb-md-2 mb-lg-4">
                                <h4 class="amber-text">{{ wine.wine_name.title() }}</h4>
                            </div>
                            <div class="card-text wine-info mb-4">
                                <p><i class="fas fa-wine-glass"></i>&nbsp {{ wine.grape.capitalize() }}</p>
                                <p><i class="fas fa-flag"></i>&nbsp {{ wine.country.capitalize() }}</p>
                                <p><i class="fas fa-wine-bottle"></i>&nbsp {{ wine.vintage }}</p>
                            </div>
                            <!-- Star rating section -->
                            <div class="card-text mx-auto">
                                {% for rating in average_rating %}
                                {% if rating["_id"] == wine._id %}
                                {% if rating["AverageValue"]|round|int == 1 %}
                                <i class="fas fa-star amber-text"></i>
                                <i class="fas fa-star grey-text"></i>
                                <i class="fas fa-star grey-text"></i>
                                <i class="fas fa-star grey-text"></i>
                                <i class="fas fa-star grey-text"></i>
                                {% elif rating["AverageValue"]|round|int == 2 %}
                                <i class="fas fa-star amber-text"></i>
                                <i class="fas fa-star amber-text"></i>
                                <i class="fas fa-star grey-text"></i>
                                <i class="fas fa-star grey-text"></i>
                                <i class="fas fa-star grey-text"></i>
                                {% elif rating["AverageValue"]|round|int == 3 %}
                                <i class="fas fa-star amber-text"></i>
                                <i class="fas fa-star amber-text"></i>
                                <i class="fas fa-star amber-text"></i>
                                <i class="fas fa-star grey-text"></i>
                                <i class="fas fa-star grey-text"></i>
                                {% elif rating["AverageValue"]|round|int == 4 %}
                                <i class="fas fa-star amber-text"></i>
                                <i class="fas fa-star amber-text"></i>
                                <i class="fas fa-star amber-text"></i>
                                <i class="fas fa-star amber-text"></i>
                                <i class="fas fa-star grey-text"></i>
                                {% elif rating["AverageValue"]|round|int == 5 %}
                                <i class="fas fa-star amber-text"></i>
                                <i class="fas fa-star amber-text"></i>
                                <i class="fas fa-star amber-text"></i>
                                <i class="fas fa-star amber-text"></i>
                                <i class="fas fa-star amber-text"></i>
                                {% endif %}
                                {% endif %}
                                {% endfor%}
                            </div>
                            <!-- Button to open Modal (link stretched to cover card) -->
                            <button type="button" class="wine-modal-button stretched-link mt-1" data-bs-toggle="modal"
                                data-bs-target="#wine-id{{ wine._id }}">
                                View
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal to display wine info and reviews-->
        <div class="modal fade" id="wine-id{{ wine._id }}" tabindex="-1" aria-labelledby="wineModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <form class="modal-content" method="POST" action="{{ url_for('view_wines', wines=wines)}}">
                    <div class="modal-header">
                        <!--Modal title with wine name-->
                        <h5 class="modal-title text-center logo-font" id="wineModalLabel">
                            <span>
                                <input type="text" id="wine_name" name="wine_name" class="visually-hidden" readonly
                                    required value="{{ wine.wine_name }}">
                                <label for="wine_name">{{ wine.wine_name.title() }}</label>
                            </span>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!--Modal Body -->
                    <div class="modal-body">
                        <div class="row">
                            <!--Modal Body - Wine info -->
                            <div class="col-sm-12 col-md-6">
                                <h4 class="text-wine">Details:</h4>
                                <p class="dark-amber-text">Grape :<span>
                                        <input type="text" id="grape" name="grape" class="visually-hidden" readonly
                                            required value="{{ wine.grape }}">
                                        <label for="grape" class="dark-grey-text">{{ wine.grape.title() }}</label>
                                    </span></p>
                                <p class="dark-amber-text">Vintage :<span>
                                        <input type="text" id="vintage" name="vintage" class="visually-hidden" readonly
                                            required value="{{ wine.vintage }}">
                                        <label for="vintage"
                                            class="dark-grey-text">{{ wine.vintage.capitalize() }}</label>
                                    </span></p>
                                <p class="dark-amber-text">Country :<span>
                                        <input type="text" id="country" name="country" class="visually-hidden" readonly
                                            required value="{{ wine.country }}">
                                        <label for="country"
                                            class="dark-grey-text">{{ wine.country.capitalize() }}</label>
                                    </span></p>
                                {% if wine.region %}
                                <p class="dark-amber-text">Region : &nbsp<span
                                        class="dark-grey-text">{{ wine.region.capitalize() }}</span></p>
                                {% endif %}
                            </div>
                            <!--Modal Body - Wine Image -->
                            <div class="col-sm-6 col-md-6 text-center">
                                {% if wine.wine_img %}
                                <img src="{{ wine.wine_img }}" class="img-fluid rounded mx-auto"
                                    alt="image of the selected wine">
                                {% else %}
                                <img src="{{ url_for('static', filename='images/wines.jfif') }}"
                                    class="img-fluid rounded mx-auto" alt="image of a group of wine bottles">
                                {% endif %}
                            </div>
                        </div>
                        <!--Modal Body - Wine Reviews -->
                        <div class="row">
                            <div class="col">
                                <h4 class="text-wine">Reviews:</h4>
                                {% for user_review in wine.user_reviews %}
                                <div class="row">
                                    <div class="col-6">
                                        <p class="dark-amber-text">Submitted by: <span
                                                class="dark-grey-text">{{ user_review.reviewed_by.title() }}</span>
                                        </p>
                                    </div>
                                    <div class="col-6">
                                        {% if session.user == user_review.reviewed_by  %}

                                        <a class="btn btn-sm ms-1 action-button float-end"
                                            href="{{ url_for('edit_review', wine_id=wine._id) }}">Edit</a>
                                        <a id="deleteWine" class="btn btn-sm action-button float-end"
                                            href="{{ url_for('delete_review', wine_id=wine._id) }}"
                                            onclick="return confirm('Are you sure you want to delete?');">Delete</a>

                                        {% endif %}
                                    </div>

                                    <p class="col-12 dark-grey-text text-center">{{ user_review.review }}</p>

                                    {% if user_review.rating == 1 %}
                                    <div class="text-center">
                                        <i class="fas fa-star dark-amber-text"></i>
                                        <i class="fas fa-star grey-text"></i>
                                        <i class="fas fa-star grey-text"></i>
                                        <i class="fas fa-star grey-text"></i>
                                        <i class="fas fa-star grey-text"></i>
                                    </div>
                                    {% elif user_review.rating == 2 %}
                                    <div class="text-center">

                                        <i class="fas fa-star dark-amber-text"></i>
                                        <i class="fas fa-star dark-amber-text"></i>
                                        <i class="fas fa-star grey-text"></i>
                                        <i class="fas fa-star grey-text"></i>
                                        <i class="fas fa-star grey-text"></i>
                                    </div>
                                    {% elif user_review.rating == 3 %}
                                    <div class="text-center">
                                        <i class="fas fa-star dark-amber-text"></i>
                                        <i class="fas fa-star dark-amber-text"></i>
                                        <i class="fas fa-star dark-amber-text"></i>
                                        <i class="fas fa-star grey-text"></i>
                                        <i class="fas fa-star grey-text"></i>
                                    </div>
                                    {% elif user_review.rating == 4 %}
                                    <div class="text-center">
                                        <i class="fas fa-star dark-amber-text"></i>
                                        <i class="fas fa-star dark-amber-text"></i>
                                        <i class="fas fa-star dark-amber-text"></i>
                                        <i class="fas fa-star dark-amber-text"></i>
                                        <i class="fas fa-star grey-text"></i>
                                    </div>
                                    {% elif user_review.rating == 5 %}
                                    <div class="text-center">
                                        <i class="fas fa-star dark-amber-text"></i>
                                        <i class="fas fa-star dark-amber-text"></i>
                                        <i class="fas fa-star dark-amber-text"></i>
                                        <i class="fas fa-star dark-amber-text"></i>
                                        <i class="fas fa-star dark-amber-text"></i>
                                    </div>
                                    {% endif %}
                                </div>
                                <hr>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        {% if session.user %}
                        <button type="submit" class="btn action-button">Add to Favourites</a></button>
                        <a class="btn action-button" href="{{ url_for('add_review', wine_id=wine._id) }}">Add
                            Review</a>
                        {% if session.user|lower == "admin"|lower %}
                        <a class="btn action-button" href="{{ url_for('delete_wine', wine_id=wine._id) }}"
                            onclick="return confirm('Are you sure you want to delete?');">Delete</a>
                        {% endif %}
                        {% endif %}
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>



        {% endfor %}

    </div>
</div>


{% endblock %}